.list{
    margin: 40px auto ;
    width: 578px;
    
    display: block;  
}

.item{
    height: 50%;
    display: flex;
}
.image img{
    width:159px; 
    height:159px;
    border-radius: 112px;
    object-fit: cover;
    margin-right: 56px;
}

.text h4{
    font-family: RobotoBoldItalic;
    font-size: 21px;
    color: #EF767a;
    
}
.text a{
    text-decoration: none;
}
.text p{
    width: 363px;
    height: 150px;
    overflow: hidden;
    font-family: LoraItalic;
    font-size: 18px;
}



